<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Translator</title>
</head>
<body>
    <h1>Text Translator</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form action="/translate" method="post" enctype="multipart/form-data">
        <label for="file">Choose a text file:</label>
        <input type="file" name="file" id="file" accept=".txt" required>
        <br>
        <input type="submit" value="Translate">
    </form>

    {% if translation %}
        <h2>Translation:</h2>
        <p>{{ translation }}</p>
    {% endif %}
</body>
</html>